extends templates/main

block variables
	- let pageTitle = TITLE_PART + ' | 404 Error';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let isDark = false;
	- let currentPage = 4.07; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 4; // // Для каждой раздела уникален. Home -1, about - 2, works - 3, news - 4, pages - 5

block header
	include modules/header
block content
	article.page-404
		.container.page-404__container
			.page-404__num 404
			.page-404__title Opps! Page Not Found
			.page-404__text It seems we can't find what you're looking for. Perhaps searching can help or go back to <br> <a href="/">Homepage</a>
			+input('search', 'search', 'Search')(class='page-404__search')

block footer
	include modules/footer
