extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | About';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let isDark = false;
	- let currentPage = 4.01; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 4; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4

block header
	include modules/header

block content
	article.article
		header.article__header
			.container
				h1.article__heading.heading.heading--size-large Strategy-led <br><span class="color-yellow">design</span> in every detail
		.article__about-hero.container
			img(src="img/picture/about/hero.jpg", srcset="img/picture/about/hero@2x.jpg", width="1800", height="768", alt="")

		section.webpage__about-block.about-block.about-block--columns
			.about-block__inner.container(data-number="01.")
				header.about-block__header(data-aos="fade")
					h2.about-block__heading.heading A few words About us
				.about-block__main
					.about-block__text(data-aos="fade")
						p Totally focused on tools to enhance and help your content shine. We have created this theme thinking only in options helpfully for the daily needs in a creative environment like an agency, a small studio.

						p As a result working with hundred of creatives all these past years, we are now delivering a theme that will be part of your toolset.

					blockquote.about-block__quote(data-aos="fade") I knew everything…been there, done that. She was in the moment, <br>I was in the past. She was mindful. I was mindless.

		section.webpage__about-block.about-block
			.about-block__inner.container(data-number="02.")
				header.about-block__header(data-aos="fade")
					h2.about-block__heading.heading Our Team
				.about-block__main
					ul.about-block__team.team-list.row
						- let delayT = 0
						- let path = 'img/picture/team/';

						each it, index in ['1', '2', '3', '4', '5', 'submit your resume']
							- delayT = index % 3 === 0 ? 0 : delayT + 200;
							li.team-list__item.col-12.col-md-6.col-lg-4(data-aos="fade", data-aos-delay= delayT)
								if it.length > 1
									a.card.card--send(href="#")
										.card__send-text= it
								else
									.card.card--team(tabindex="0")
										.card__image
											img(src= path + it + ".jpg", srcset= path + it + "@2x.jpg", width="350", height="530", alt="")
										.card__content
											h3.card__heading Jack WIlshere
											.card__text CEO / Founder
											.card__bottom
												+social('card__social', ['facebook', 'twitter', 'linkedin-original'])

		section.webpage__about-block.about-block
			.about-block__inner.container(data-number="03.")
				header.about-block__header(data-aos="fade")
					h2.about-block__heading.heading Services
				.about-block__main.services-provided
					.row
						.services-provided__column.col-12.col-md(data-aos="fade")
							.services-provided__icon
								+icon('apartment')(width="58", height="61")
							h3.services-provided__column-heading Apartment
							.services-provided__column-text Projects for many large domestic and foreign corporations, enProjects for many large domestic and foreign corporations, enterprises in many elds such as nance, banking, F&B, education, communication.terprises in many elds such as nance, banking, F&B, education, communication.

							a.services-provided__link(href= URLS.pages.singleServices)
								| Read more
								+icon('chevron-right')(width="20", height="20")

						.services-provided__column.col-12.col-md(data-aos="fade", data-aos-delay="200")
							.services-provided__icon
								+icon('building')(width="52", height="61")
							h3.services-provided__column-heading Building
							.services-provided__column-text Founded in 2007, Sparch is specializing in providing innovative services such as websitFounded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketinge design, brand identity and marketing


						.services-provided__column.col-12.col-md(data-aos="fade", data-aos-delay="400")
							.services-provided__icon
								+icon('roller')(width="58", height="52")
							h3.services-provided__column-heading Interior
							.services-provided__column-text Projects for many large domestic and foreign corporations, enProjects for many large domestic and foreign corporations, enterprises in many elds such as nance, banking, F&B, education, communication.terprises in many elds such as nance, banking, F&B, education, communication.

		section.webpage__about-block.about-block
			.about-block__inner.container(data-number="04.")
				header.about-block__header(data-aos="fade")
					h2.about-block__heading.heading Testimonials
				.about-block__main.reviews-carousel(data-aos="fade")
					.swiper-container.__js_review-carousel
						.swiper-wrapper
							.reviews-carousel__item.review-card.swiper-slide
								.review-card__image
									img(src='img/picture/avatar-paul.png', srcset='img/picture/avatar-paul@2x.png', width="112", height="112", alt="")
								.review-card__name Paul
								.review-card__post Designer in <span>Paul.com</span>
								.review-card__text Projects for many large domestic and foreign corporations, enterprises in many elds such as nance, banking, F&B, education, communication.
							.reviews-carousel__item.review-card.swiper-slide
								.review-card__image
									img(src='img/picture/avatar-robert.png', srcset='img/picture/avatar-robert@2x.png', width="112", height="112", alt="")
								.review-card__name Robert
								.review-card__post Founder in <span>Apple inc.</span>
								.review-card__text Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketing
							.reviews-carousel__item.review-card.swiper-slide
								.review-card__image
									img(src='img/picture/avatar-robert.png', srcset='img/picture/avatar-robert@2x.png', width="112", height="112", alt="")
								.review-card__name Robert
								.review-card__post Founder in <span>Apple inc.</span>
								.review-card__text Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketing
							.reviews-carousel__item.review-card.swiper-slide
								.review-card__image
									img(src='img/picture/avatar-robert.png', srcset='img/picture/avatar-robert@2x.png', width="112", height="112", alt="")
								.review-card__name Robert
								.review-card__post Founder in <span>Apple inc.</span>
								.review-card__text Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketing
						.swiper-pagination

		.partners
			.partners__inner.container
				ul.partners__list
					- let delay = 0;
					- let suf = isDark ? 'w': '';
					each item, index in PARTNERS_LOGO
						- delay = index % 5 === 0 ? 0 : delay + 200;
						li.partners__item(data-aos="fade", data-aos-delay= delay)
							img(src="img/picture/partners/" + item.name + suf + ".png", srcset="img/picture/partners/" + item.name + suf + "@2x.png", width= item.w, height= item.h, alt= item.alt)


block footer
	include modules/footer
