extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Contact Dark';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let isDark = true;
	- let currentPage = 4.09; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 4; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4

block header
	include modules/header

block content
	article.article
		header.article__header
			.container
				h1.article__heading.heading.heading--size-large Contact
		.article__map.map
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6303.983230561337!2d144.94987278893993!3d-37.813665379798834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4949e03ba7%3A0x3a4bed3cd2de0c6!2zMjY5IEtpbmcgU3QsIE1lbGJvdXJuZSBWSUMgMzAwMCwg0JDQstGB0YLRgNCw0LvQuNGP!5e0!3m2!1sru!2sru!4v1613041664241!5m2!1sru!2sru", allowfullscreen="", aria-hidden="false", tabindex="0")

			.map__inner.container
				.contact-block
					.contact-block__heading Melbourne, <span class="color-yellow">Australia</span>
					address.contact-block__address 269 King Str, 05th Floor, Utral Hosue Building, Melbourne, VIC 3000, Australia.

					.contact-block__phone
						a(href="tel:+9903449564050") +99 (0) 344 956 4050
					.contact-block__item
						.contact-block__item-hint Email:
						.contact-block__item-val
							a(href="mailto:info@sparch.co") info@sparch.co
					.contact-block__item
						.contact-block__item-hint Follow us:
						.contact-block__item-val
							+social('contact-block__social social--contact', ['facebook', 'twitter', 'pinterest'])
					.contact-block__item
						.contact-block__item-hint Work Hours:
						.contact-block__item-val Monday - Friday : 08h00 - 17h30

		.article__main.container
			section.article__feedback.feedback
				h2.feedback__heading.heading(data-aos="fade") Let's grab a coffee and jump on <br>conversation <span class="color-yellow">chat with us.</span>

				form.js-form-validate(action='php/mail.php', method='POST')
					.row
						.feedback__field-wrapper.col-12.col-md-6.col-lg-4(data-aos="fade")
							label.field(aria-label="Name")
								input(type="text", name="name", placeholder="Name")
							.field-error(style='display: none')
						.feedback__field-wrapper.col-12.col-md-6.col-lg-4(data-aos="fade")
							label.field(aria-label="Email")
								input(type="email", name="email", placeholder="Email*", required)
							.field-error(style='display: none')
						.feedback__field-wrapper.col-12.col-lg-4(data-aos="fade")
							label.field(aria-label="Subject")
								input(type="text", name="subject", placeholder="Subject")
							.field-error(style='display: none')
						.feedback__field-wrapper.col-12(data-aos="fade")
							label.field(aria-label="message")
								textarea(name="message", placeholder="Message*", required)
							.field-error(style='display: none')

					button.btn(type="submit", data-aos="fade") Submit
block footer
	include modules/footer
