extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Home Default';
	- let isHome = true; //- Если true то логотип не будет ссылкой
	- let isDark = false;
	- let currentPage = 1.01; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 1; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4
	- let isRevolution = true; // Если true, то подключаем скрипты слайдера

block header
	include modules/header
	//-include modules/menu

block content
	include modules/main-slider
	include modules/about-section
	include modules/services-section
	include modules/statistics
	include modules/latest-projects
	include modules/partners
	include modules/reviews-carousel
	include modules/latest-news


block footer
	include modules/footer
	include modules/video
