.about-section {
	&__content {
		margin-bottom: 56px;

		@include media(md) {
			margin-bottom: 0;
			padding-right: 30px;
		}
	}

	&__heading {
		margin: 0 0 12px;

		@include media(lg) {
			margin-bottom: 20px;
		}
	}

	&__pseudoheading {
		max-width: 290px;
		margin-bottom: 24px;

		@include media(md) {
			margin-bottom: 42px;
		}

		@include media(lg) {
			margin-bottom: 52px;
		}

		@include media(xl) {
			max-width: 440px;
			margin-bottom: 65px;
		}
	}

	&__text {
		max-width: 490px;
		margin-bottom: 36px;

		@include media(lg) {
			margin-bottom: 62px;
		}

		@include media(xl) {
			margin-bottom: 72px;
		}
	}

	&__btn {
	}

	&__image {
		margin-bottom: 30px;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	&__cite-wrapper {
		position: relative;
	}

	&__blockquote {
		position: relative;
		max-width: 330px; //254px;
		margin: 0;
		padding: 0 0 0 100px;
		font-family: $font-family--secondary;
		font-weight: 400;
		font-style: italic;
		color: $color-default-black;

		@include media(lg) {
			max-width: 360px;
			margin-left: auto;
			padding-left: 130px;
		}

		@include media(xl) {
			margin-left: 44px;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: -17px;
			width: 83px;
			height: 62px;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 83 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.6.2c6.267 0 11 2.267 14.2 6.8 3.333 4.4 5 9.667 5 15.8 0 8.267-2.467 15.933-7.4 23-4.8 7.067-10.867 12.333-18.2 15.8L.4 52.2c5.333-2.133 10-5.067 14-8.8 4-3.867 6.733-7.867 8.2-12l-1-.6c-.667.533-1.467.933-2.4 1.2-.933.267-2.267.4-4 .4-3.067 0-6.2-1.2-9.4-3.6-3.067-2.533-4.6-6.333-4.6-11.4 0-5.333 1.733-9.533 5.2-12.6S13.933.2 18.6.2zm44.8 0c6.267 0 11 2.267 14.2 6.8 3.333 4.4 5 9.667 5 15.8 0 8.267-2.467 15.933-7.4 23-4.8 7.067-10.867 12.333-18.2 15.8l-11.8-9.4c5.333-2.133 10-5.067 14-8.8 4-3.867 6.733-7.867 8.2-12l-1-.6c-.667.533-1.467.933-2.4 1.2-.933.267-2.267.4-4 .4-3.067 0-6.2-1.2-9.4-3.6-3.067-2.533-4.6-6.333-4.6-11.4 0-5.333 1.733-9.533 5.2-12.6S58.733.2 63.4.2z' fill='%23FBC710'/%3e%3c/svg%3e ");
		}
	}

	&__cite {
		position: absolute;
		top: -212px;
		left: -10px;
		padding: 79px 46px;

		@include text(25px, 1.4, $color-default-white);

		@include media(md) {
			left: -20px;
		}

		@include media(lg) {
			left: -37px;
			padding: 79px 76px;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 90px; //162px;
			height: 100%;
			border: solid 4px $color-yellow;
			border-right: none;

			@include media(lg) {
				width: 140px;
			}

			@include media(xl) {
				width: 162px;
			}
		}
	}
}
