.btn {
	display: inline-block;
	vertical-align: top;
	padding: 17px 20px;

	@include text(16px, 1, $color-default-black);
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;

	border: solid 1px $color-yellow;
	background-color: $color-yellow;

	cursor: pointer;

	@include transition(background-color);

	@include media(md) {
		padding: 17px 44px;
	}

	&:hover,
	&:focus {
		outline: none;
		background-color: $color-yellow-hover;
		color: $color-default-black;
		box-shadow: none;
	}

	&:active {
		opacity: 0.7;
		box-shadow: none;
	}

	&--outline {
		background-color: transparent;
		color: $color-yellow;
		border-color: $color-yellow;
		transition: background-color $default-transition-settings,
			color $default-transition-settings;

		&:hover,
		&:focus {
			outline: none;
			background-color: $color-yellow;
			color: $color-default-white;
		}
	}
}
