.navigation {
	$self: &;

	&__dropdown {
		display: none;

		@include media(lg) {
			position: absolute;
			z-index: 1;
			left: -50px;
			bottom: -40px;
			transform: translateY(100%);
			display: block;

			min-width: 400px;
			padding: 42px 50px;
			background-color: $color-default-white;
			opacity: 0;
			pointer-events: none;

			@include transition(opacity);

			&:hover {
				opacity: 1;
				pointer-events: auto;
			}
		}

		@include media(xl) {
			left: -100px;
			padding: 76px 100px 70px;
		}

		&--columns {
			@include media(lg) {
				width: 480px;
			}

			@include media(xl) {
				width: 670px;
			}
		}

		&-wrapper {
			@include media(lg) {
				display: flex;
			}
		}

		&-column {
			@include media(lg) {
				flex-grow: 1;

				& + & {
					width: 50%;
					padding-left: 32px;
				}
			}

			&-title {
				display: none;

				@include media(lg) {
					display: block;
					margin-bottom: 20px;

					@include text(12px, 1, $color-grey);
					text-transform: uppercase;
					letter-spacing: 0.01em;
				}
			}
		}

		&-list {
			@include list-reset;
		}

		&-item {
			margin-top: 16px;
			line-height: 1 !important;

			&:first-child {
				margin-top: 20px; //32px;

				@include media(md) {
					margin-top: 24px;
				}

				@include media(lg) {
					margin-top: 0;
				}
			}

			@include media(lg) {
				margin-top: 8px;
			}

			&--current {
				a {
					color: $color-yellow !important;
					font-weight: 600;
				}
			}

			a {
				@include text(14px, 1, $color-default-black);
				letter-spacing: 0.015em;

				@include transition(color);

				@include media(lg) {
					line-height: 1.875;
				}

				&:hover,
				&:focus {
					outline: none;
					color: $color-yellow;
				}
			}
		}
	}

	&__list {
		@include list-reset;

		@include media(lg) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__item {
		position: relative;
		margin-bottom: 20px; //32px;

		@include media(md) {
			margin-bottom: 24px;

			@include media-custom-height(610px) {
				margin-bottom: 32px;
			}
		}

		@include media(lg) {
			margin-right: 40px;
			margin-bottom: 0;
		}

		@include media(xl) {
			margin-right: 56px; //3.28vw;
		}

		&:last-child {
			margin-bottom: 0;
			margin-right: 0;
		}

		&--current {
			#{$self}__link {
				color: $color-yellow;
			}
		}
	}

	&__link {
		@include text(24px, 1, $color-default-black); //36
		font-weight: 600;

		@include transition(color);

		@include media(md) {
			font-size: 36px;
		}

		@include media(lg) {
			font-size: 14px;
			line-height: 1.21;
			text-transform: uppercase;
		}

		&:hover,
		&:focus {
			outline: none;
			color: $color-yellow;
			position: relative;

			@include media(lg) {
				&::after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					transform: translateY(100%);
					width: 100%;
					height: 70px;
				}

				& + #{$self}__dropdown {
					opacity: 1;
					pointer-events: auto;
				}
			}
		}

		&:active {
			opacity: 0.7;
		}
	}
}
