.services-provided {
	&__heading {
		position: relative;
		margin: 0 0 32px;

		@include media(md) {
			margin-bottom: 64px;
		}

		@include media(xl) {
			margin-bottom: 100px;
		}

		&::before {
			content: "";
			position: absolute;
			left: -15px;
			top: 30%;
			width: 45px;
			border-top: solid 2px $color-yellow;
			transform: translateX(-100%);

			@include media(md) {
				width: 70px;
			}

			@include media(xl) {
				left: -36px;
			}
		}
	}

	&__column {
		margin-bottom: 48px;

		&:last-child {
			margin-bottom: 0;
		}

		@include media(md) {
			margin-bottom: 0;
		}

		&-heading {
			margin: 0 0 30px;
			font-family: $font-family--secondary;

			@include text(25px, 1, $color-default-black);
			font-weight: 700;
		}

		&-text {
			@include media(md) {
				max-width: 272px;
			}
		}
	}

	&__icon {
		height: 60px;
		margin-bottom: 20px;

		@include media(md) {
			margin-bottom: 40px;
		}

		svg {
		}
	}

	&__link {
		display: inline-flex;
		align-items: center;
		margin-top: 32px;

		@include text(20px, 1.15, $color-default-black);
		font-weight: 600;

		@include transition(color);

		svg {
			margin-left: 8px;

			@include transition(fill);
		}

		&:focus {
			outline: none;
			color: $color-yellow;

			svg {
				fill: $color-yellow;
			}
		}

		@include hover {
			color: $color-yellow;

			svg {
				fill: $color-yellow;
			}
		}
	}
}
