.timer {
	display: flex;

	&__digit {
		&:not(:last-child) {
			margin-right: 35px;

			@include media(lg) {
				margin-right: 131px;
			}
		}

		p {
			width: 30px;
			font-family: $font-family--secondary;
			font-size: 40px;
			line-height: 40px;
			font-weight: bold;
			text-transform: uppercase;
			margin: 0 0 12px;

			@include media(lg) {
				width: 85px;
				margin: 0 auto 12px;
				font-size: 70px;
				line-height: 72px;
			}
		}

		span {
			font-size: 14px;
			line-height: 24px;
			font-weight: bold;

			@include media(lg) {
				font-size: 16px;
				line-height: 26px;
			}
		}
	}
}
