section.webpage__about-section.about-section
	.about-section__inner.container
		.row.no-gutters
			.about-section__content.col-12.col-md-7
				h2.about-section__heading.heading-small(data-aos="fade") About us
				.about-section__pseudoheading.heading(data-aos="fade") Strategy-led <span class="color-yellow">design</span> in every detail
				.about-section__text(data-aos="fade") Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketing
				a.about-section__btn.btn(href= URLS.pages.about, data-aos="fade") Learn more

			.col-12.col-md-5(data-aos="fade")
				//-.order-first.order-md-0
				.about-section__image
					img(src="img/picture/about-section-image.jpg", srcset="img/picture/about-section-image@2x.jpg", width="426", height="573", alt="House")
				.about-section__cite-wrapper
					blockquote.about-section__blockquote “If you will be coping someone, you will never be the best”
					cite.about-section__cite Paul. <br>Designer
