footer.footer.footer--lite.footer--white
	.footer__inner.container
		.row
			.col-6
				.footer__copy © LarsonR 2021.
			.col-6.d-flex
				ul.footer__lang-switcher.lang-switcher.lang-switcher--line
					li.lang-switcher__item
						a.lang-switcher__link.lang-switcher__link--current Eng
					li.lang-switcher__item
						a.lang-switcher__link(href="#") Fra
					li.lang-switcher__item
						a.lang-switcher__link(href="#") Ger
