section.webpage__hero.hero
	.hero__inner.container
		.hero__image
			img(src="img/picture/hero.jpg", srcset="img/picture/hero@2x.jpg", width="1904", height="1081",  alt="")

		.hero__content
			.hero__tag Architecture
			h2.hero__heading.heading Love <span class="color-yellow">in&nbsp;every</span> detail
			.hero__text Founded in 2007, Larson is specializing in providing innovative services such as website design, brand identity and marketing
