section.webpage__services.services
	.services__inner.container
		header.services__header(data-aos="fade")
			h2.services__heading.heading Services
		.services-provided
			.row
				.services-provided__column.col-12.col-md(data-aos="fade")
					.services-provided__icon
						+icon('apartment')(width="58", height="61")
					h3.services-provided__column-heading Apartment
					.services-provided__column-text Projects for many large domestic and foreign corporations, enProjects for many large domestic and foreign corporations, enterprises in many elds such as nance, banking, F&B, education, communication.terprises in many elds such as nance, banking, F&B, education, communication.

				.services-provided__column.col-12.col-md(data-aos="fade", data-aos-delay="200")
					.services-provided__icon
						+icon('building')(width="52", height="61")
					h3.services-provided__column-heading Building
					.services-provided__column-text Founded in 2007, Sparch is specializing in providing innovative services such as websitFounded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketinge design, brand identity and marketing


				.services-provided__column.col-12.col-md(data-aos="fade", data-aos-delay="400")
					.services-provided__icon
						+icon('roller')(width="58", height="52")
					h3.services-provided__column-heading Interior
					.services-provided__column-text Projects for many large domestic and foreign corporations, enProjects for many large domestic and foreign corporations, enterprises in many elds such as nance, banking, F&B, education, communication.terprises in many elds such as nance, banking, F&B, education, communication.
