.webpage__statistics.statistics(data-aos="fade")
	.container
		.row
			.statistics__item.col-12.col-sm
				.statistics__item-value <span class="__js_number" data-end-value="20">0</span>
				.statistics__item-text Years <br>working
			.statistics__item.col-12.col-sm
				.statistics__item-value
					span.__js_number(data-end-value="7") 0
				.statistics__item-text Talanted <br>managers
			.statistics__item.col-12.col-lg
				.statistics__item-value
					span.__js_number(data-end-value="100") 0
				.statistics__item-text Complitly <br>projects
