// Timer
.timer(data-time-out="2020-12-23T00:00:00")
	.timer__digit
		p(class='js-stock-countdown-d') 02
		span Days
	.timer__digit
		p(class='js-stock-countdown-h') 12
		span Hours
	.timer__digit
		p(class='js-stock-countdown-m') 07
		span Minutes
	.timer__digit
		p(class='js-stock-countdown-s') 34
		span Seconds
