.page-404 {
	background-image: url("../img/bg-404.png");

	@include retina {
		background-image: url("../img/bg-404@2x.png");
	}

	&__num,
	&__title {
		color: $color-default-white;
	}

	&__search {
		color: $color-grey8 !important;
		border-color: lighten($color-dark, 15%) !important;
		background-color: lighten($color-dark, 5%) !important;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3cpath fill='%23929292' d='M62.9 56.5l-17-13.8c7.2-9.9 6.1-23.7-2.7-32.5C38.4 5.3 32 2.7 25.3 2.7s-13 2.6-17.8 7.4S0 21.3 0 28s2.7 13.1 7.5 17.9c5.1 5.1 11.5 7.5 17.9 7.5 6.1 0 12.3-2.1 17.1-6.7l17.3 14.1c.5.5 1.1.5 1.6.5.8 0 1.6-.3 2.1-1.1.8-1 .8-2.6-.6-3.7zM25.3 48c-5.3 0-10.4-2.1-14.1-5.9-3.7-3.7-5.9-8.8-5.9-14.1s2.1-10.4 5.9-14.1S20 8 25.3 8s10.4 2.1 14.1 5.9 5.9 8.8 5.9 14.1-2.1 10.4-5.9 14.1c-3.7 3.8-8.7 5.9-14.1 5.9z'/%3e%3c/svg%3e ") !important;

		transition: all $default-transition-settings !important;

		&::placeholder {
			color: $color-grey8 !important;
		}

		&:focus {
			background-color: lighten($color-dark, 10%) !important;
		}

		@include hover {
			background-color: lighten($color-dark, 10%) !important;
		}
	}

	&__text a {
		&:focus {
			color: $color-default-white;
		}

		@include hover {
			color: $color-default-white;
		}
	}
}
