.preview-card {
	$self: &;

	&__content {
		background-color: $color-dark;
	}

	&__date,
	&__heading,
	&__btn {
		color: $color-default-white;
	}

	&__btn {
		svg {
			fill: $color-default-white;
		}
	}
}
