mixin navigation-dropdown(object)
	- let array = isDark ? object.dark : object.white;
		.navigation__dropdown
			.navigation__dropdown-wrapper
				.navigation__dropdown-column
					//-.navigation__dropdown-column-title Light
					ul.navigation__dropdown-list
						each item in array
							if item.currentPage === currentPage
								li.navigation__dropdown-item.navigation__dropdown-item--current
									a= item.text
							else
								li.navigation__dropdown-item
									a.animsition-link(href= item.url)= item.text
